.MgpLayer{
    position:absolute;
}

.Mgp{
    border: 1px solid black;
}

.wp_table td{
    border: 0px;
    width:32px;
    height:32px;
}

.wp_table table{
    border:none;
}

.miniview {
    width:32px;
    height:32px;
    vertical-align:middle;
    border:0px
}

.logo {
    vertical-align:middle;
    border:0px
}

ul {
    list-style:none
}

.menu {
    list-style:circle;
    font-size:20px;
}

h2{
    border-bottom:1px solid black;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}
